    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 100vh;
        margin: 60px auto;
        background-color: rgba(71, 71, 202, 0.732);
    }
    
    .centered-content {
        text-align: center;
    }
    
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    input {
        width: 30px;
        height: 30px;
        font-size: 18px;
        text-transform: uppercase;
        margin: 10px 5px;
        border: 1px solid #ccc;
        text-align: center;
    }
    
    .button-container {
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: 20px auto;
        justify-content: center;
    }
    
    .button-container button {
        flex: 1;
        margin: 0 10px;
        background-color: #ff5733;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 10px;
    }
    
    p {
        font-size: 18px;
        margin-top: 10px;
    }
    
    .alert-valid {
        color: #4caf50;
    }
    
    .alert-invalid {
        color: #f44336;
    }